default: &default
      adapter: postgresql
      encoding: unicode
      pool: 5
      username: <%= ENV['USERNAME'] %>
      password: <%= ENV['PASSWORD'] %>
      host:     <%= ENV['IP'] %>

development:
  <<: *default
  database: test_development

test:
  <<: *default
  database: test_test<%= ENV['TEST_ENV_NUMBER'] %>

production:
  <<: *default
  database: test_production
